*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*shared style*/
.font-open-sens{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.logo h2{
    font-size: 35px;
    font-weight: 900;
}

.color-name{
    color: #FD6E0A;
}

.btn{
    background-color: #FD6E0A;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

/*main style*/
header{
    background-color: #FFF8F3;
    padding-top: 51px;
    background: url("../images/developer.png"),url("../images/header_bg.png"),#FFF8F3;
    background-repeat: no-repeat;
    background-position:top left, bottom right;
}
nav{
    width: 71%;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}

#banner{
    margin: 161px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content{
    width: 44%;
    max-width: 585px;
}

.banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
.banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}
.banner-content p{
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}
.banner-content, .banner-img {
  width: 100%;
  max-width: 600px;
}
#banner .banner-img img{
    max-width: 584px;
    vertical-align: middle;
}
.banner-btn{
    display: flex;
    gap: 30px;
}